@use "global" as *;

.article {
    display: block;
    background: rgba(255, 255, 255, 1);
}

.article ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @include mq(md) {
        // 
    }
}