@use "global" as *;

.profile {
    @include mq(md) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 80%;
        margin: 0 auto;
        background: rgba(255, 255, 255, 1);
        // 
    }
}

.profile figure {
    display: block;
    padding-top: 55%;
    position: relative;
    overflow: hidden;
    order: 1;

    @include mq(md) {
        // 
    }
}

.profile img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: rem(10);
    order: 2;
}