@use "global" as *;

form.search-form input,
button.search-form-button {
    padding: rem(10);
}

form.search-form {
    display: flex;

    // 
    @include mq(md) {}
}

form.search-form input {
    display: block;
    width: 100%;
    flex: 3;
    margin-right: rem(5);
}

button.search-form-button {
    display: block;
    width: 100%;
    flex: 1;
}